<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">İnterfeys</div>
                <a class="nav-link" href="/dashboard/slider">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-sliders"></i></div>
                    Slider
                </a>
                <a class="nav-link" href="/dashboard/banner">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-photo-film"></i></div>
                    Banner
                </a>
                <a class="nav-link" href="/dashboard/category">
                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                    Kateqoriyalar
                </a>
                <a class="nav-link" href="/dashboard/products">
                    <div class="sb-nav-link-icon"><i class="fas fa-list-alt"></i></div>
                    Məhsullar
                </a>
                <a class="nav-link" href="/dashboard/orders">
                    <div class="sb-nav-link-icon"><i class="fa fa-shopping-cart"></i></div>
                    Sifarişlər
                </a>
                <a class="nav-link" href="/dashboard/users">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    İstifadəçilər
                </a>
                <a class="nav-link" href="/dashboard/about">
                    <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                    Haqqımızda
                </a>
                <a class="nav-link" href="/dashboard/contact">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-phone"></i></div>
                    Əlaqə məlumatları
                </a>
                <a class="nav-link" href="/dashboard/form-request">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-inbox"></i></div>
                    Daxil olan sorğular
                </a>
                <a class="nav-link" href="/dashboard/team">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Komanda
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Daxil olunub:</div>
            Admin
        </div>
    </nav>
</div>