<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Əlaqə</h1>
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="col-md-5 boxel">
                <form id="InfoUpdateForm">
                    <input type="hidden" name="uniq_id">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Ünvan: </span>
                        <input type="text" class="form-control" name="addressInputAZ" required="" minlength="2">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">E-poçt: </span>
                        <input type="email" class="form-control" name="emailInput" required="" minlength="2">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Number1: </span>
                        <input type="text" class="form-control" name="Number1Input" required="" minlength="2">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Number2: </span>
                        <input type="text" class="form-control" name="Number2Input" required="" minlength="2">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">OpenTImes: </span>
                        <input type="text" class="form-control" name="OpenTimesInput" required="" minlength="2">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Coordinates: </span>
                        <input type="text" class="form-control" name="CoordinatesInput" required="" minlength="2">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-warning btn-block">Məlumatları yenilə</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>